body {
  background-color: #c2d4df !important;
  font-family: poppins !important;
}

/* Awal Header */
#Header .navbar {
  background-color: #1c658c;
}
#Header .navbar img {
  width: 30px;
  height: auto;
}
#Header .navbar a {
  color: rgb(194, 194, 194);
  text-decoration: none;
}
#Header .navbar a:hover {
  color: #9ad0ec;
}
#Header .search input {
  background-color: #9ad0ec;
  font-size: 12px;
  width: 365px;
  border-radius: 7px;
  margin-left: 250px;
}
#Header .search button {
  border: 2px solid #9ad0ec;
  color: #9ad0ec;
  border-radius: 7px;
}
#Header .search button:hover {
  border: 2px solid white;
  color: #1c658c;
  background-color: #9ad0ec;
}

#Header .login {
  border: 2px solid #9ad0ec;
  color: #9ad0ec;
  border-radius: 7px;
  margin-left: 250px;
  width: 100px;
}
#Header .login:hover {
  border: 2px solid white;
  color: #1c658c !important;
  background-color: #9ad0ec;
}
/* Akhir Header */

/* Awal Navbar */
.sticky-top {
  background-color: #1c658c;
  margin-top: 20px;
}
.sticky-top li a {
  color: #c2d4df;
}
.sticky-top li a:hover {
  color: #9ad0ec;
}
/* Akhir Navbar */

/* Awal Berita */
#Berita .Judul h4 {
  color: #1c658c;
}
#Berita .Judul hr {
  width: 155px;
  border: 2px solid black;
  margin-top: -5px;
}
#Berita .gambar img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
#Berita .gambar img:hover {
  opacity: 0.6;
}
#Berita .isi i,
#Berita .isi h6 {
  font-size: 12px;
  color: #999999;
}
#Berita .isi h5,
#Berita .isi-pilihan h5,
#News-Banner .isi-pilihan h5,
#News-Banner .carousel-caption h5,
#News-Banner .isi-berita h5,
#Isi-Berita .bg-berita-pilihan h5,
#News-Banner .isi-berita p,
#News-Banner .isi-pilihan p,
#Berita .isi p,
#Berita .isi-pilihan p,
#News-Banner .carousel-caption p,
#News-Banner .isi-pilihan p,
#Isi-Berita .bg-berita-pilihan p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#Berita .isi a {
  text-decoration: none;
  color: #1c658c;
}
#Berita .isi a:hover {
  text-decoration: none;
  color: #9ad0ec;
}
#Berita .isi h5 {
  font-size: 18px;
  font-weight: bold;
}
#Berita .isi p {
  font-size: 14px;
  font-weight: normal;
}

/* Akhir Berita PIlihan */
#Berita .bg-berita-pilihan,
#News-Banner .bg-berita-pilihan,
#Isi-Berita .bg-berita-pilihan {
  margin-top: 30px;
  background-color: #1c658c;
}
#Berita .Judul-Pilihan h4,
#News-Banner .Judul-Pilihan h4,
#Isi-Berita .bg-berita-pilihan h4 {
  color: #9ad0ec;
  font-size: 18px;
  margin: 10px 25px;
}
#Berita .bg-berita-pilihan img,
#News-Banner .bg-berita-pilihan img,
#Isi-Berita .bg-berita-pilihan img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
#Berita .isi-pilihan h5,
#News-Banner .isi-pilihan h5,
#Isi-Berita .bg-berita-pilihan h5 {
  font-size: 10px;
}
#Berita .isi-pilihan p,
#News-Banner .isi-pilihan p,
#Isi-Berita .bg-berita-pilihan p {
  font-size: 12px;
  font-weight: normal;
}
#Berita .isi-pilihan a,
#News-Banner .isi-berita a,
#News-Banner .isi-pilihan a,
#Isi-Berita .bg-berita-pilihan a {
  text-decoration: none;
  color: #9ad0ec;
}
#Berita .isi-pilihan a:hover,
#News-Banner .isi-pilihan a:hover,
#Isi-Berita .bg-berita-pilihan a:hover {
  text-decoration: none;
  color: white;
}
/* Akhir Berita Pilihan*/
/* Akhir Berita */

/* Awal News Banner */
#News-Banner .Banner img {
  margin-top: 50px;
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 20px;
}
#News-Banner .carousel-caption h5 {
  color: white;
  font-weight: bold;
  text-shadow: 0px 2px 2px black;
}
#News-Banner .carousel-caption p {
  color: #f1ea5d;
  text-shadow: 0px 2px 2px black;
}
/* Akhir News Banner */

/* Awal Isi Berita */
#News-Banner .isi-berita img {
  width: 100%;
  height: 200px;
}
#News-Banner .isi-berita h6 {
  font-size: 16px;
  color: #999999;
  margin-top: 45px;
}

#News-Banner .isi-berita a {
  text-decoration: none;
  color: #1c658c;
}
#News-Banner .isi-berita a:hover {
  text-decoration: none;
  color: white;
}
/* Akhir News Berita */

/* Awal Isi Berita */
#Isi-Berita .Judul-Berita h2 {
  font-weight: bold;
  font-family: salsa;
}
#Isi-Berita .Judul-Berita img {
  width: 100%;
  height: 540px;
  object-fit: cover;
}
#Isi-Berita .Judul-Berita p {
  text-align: justify;
  margin-top: 10px;
}
/* Awal Akhir Berita */

/* Awal Login */
#Login .bg-login {
  background-color: #1c658c;
  width: 100%;
  height: 650px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 25px grey;
}
#Login .bg-login h3 {
  font-weight: bold;
  color: #c2d4df;
  text-align: center;
  margin-top: 100px;
}
#Login form {
  margin-top: 70px;
}
#Login label {
  color: #79dae8;
}
#Login .btn {
  margin-left: 145px;
  border: 2px solid #79dae8;
  color: #79dae8;
  margin-top: 40px;
}
#Login .btn:hover {
  margin-left: 145px;
  background-color: #79dae8;
  border: 2px solid white;
  color: white;
  margin-top: 40px;
}
#Login a {
  text-decoration: none;
  color: #79dae8;
}
#Login a:hover {
  text-decoration: none;
  color: white;
}

/* Akhir Login */

/* Awal Footer */
#Footer .bg-footer {
  background-color: #79dae8;
  margin-top: 20px;
}
#Footer .bg-footer h6 {
  font-family: poppins;
  color: #1c658c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#Footer .bg-footer i {
  font-family: poppins;
}
/* Akhir Footer */
